.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
}


.skills-content{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.skills-header{
    width: 20em;
    margin-right: .5em;
    background: var(--dark-blue);
    padding: 0.5rem;
    text-align: center;
}

.skills-category{
    color: white;
    font-size: 2em;
}
.skills-list{
    background: rgba(130,130,130,0.5);
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    display: flex;
    width: fit-content;
    color: black;
    justify-content: flex-start;
    border-radius: 15px;
    padding: .5em
}

.skills-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 10em;
    text-align: center;
}

.skills-svg{
    width: fit-content;
    margin: 0 auto;
}