footer{
    background: var(--dark-blue);
    padding: 5em 0;
    text-align: center;
}

.SocialIcons{
    width: 90%;
    margin: 0 auto;
    max-width: 15em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  1.75em auto 4em;
}

.SocialIcon{
    width: 4em;
    height: 4em;
}

.SocialIcon--LinkedIn{
    width: 4.7em;
    height: 4.7em;
}

.Copyright{
        content: '';
        display: block;
        height: 1px;
        background: rgba(white, .15);
        margin: 2em auto;
        width: 25%;

}